.check_box {
  line-height: 1;
}
.check_box .uni-checkbox-input {
  width: 24px;
  height: 24px;
}
.footer_check .uni-checkbox-input {
  width: 12px;
  height: 12px;
  margin-right: 0;
}
.check_box .uni-checkbox-wrapper .uni-checkbox-input:hover {
  border-color: var(--mainColor) !important;
}
.check_box .uni-checkbox-input svg {
  width: 100%;
  height: 100%;
}
.check_box .uni-checkbox-input svg path {
  fill: var(--mainColor);
}
